<h1>hey {{currentUser.username}}! this is what you have spent</h1>
<table>
  <thead>
    <tr>
      <td>Date</td>
      <td>Price</td>
      <td>Tag</td>
      <td>Category</td>
    </tr>
  </thead>
  <tbody>
    {{#each expense}}
      <tr>
        <td>{{date}}</td>
        <td>{{price}}</td>
        <td>{{tag.name}}</td>
        <td>{{category}}</td>
        <td>
          <a href="/main/expense-edit/{{_id}}">edit</a>
        </td>
        <td>
          <button class="delete-btn">delete</button>
          <form
            class="hidden"
            action="/main/expense-delete/{{_id}}"
            method="post"
          >
            <button type="submit">confirm</button>
            <button type="button" class="cancel-btn">cancel</button>
          </form>
        </td>

      </tr>

    {{/each}}
  </tbody>
</table>