<form action="" method="post">
  <label for="date">Date</label>
  <input type="date" name="date" value="{{expenseEdit.date}}" />
  <label for="price">Price</label>
  <input type="text" value="{{expenseEdit.price}}" name="price" />
  <label for="tag">Tag</label>
  <select name="tag">
    {{#if expenseEdit.tag}}
      <option
        selected
        value="{{expenseEdit.tag._id}}"
      >{{expenseEdit.tag.name}}</option>
    {{else}}
      <option selected disabled value="null">Please select a tag</option>
    {{/if}}
    {{#each tags}}
      <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select>
  <label for="category">Category</label>
  <input type="text" value="{{expenseEdit.category}}" name="category" />
  <input type="submit" value="submit" />
</form>