<div id="edit">
  <h2 class="animate__animated animate__rubberBand">Edit your expenses</h2>
<form action="" method="post">
  <label for="date">Date</label>
  <input class="animate__animated animate__lightSpeedInRight" type="date" name="date" value="{{expenseEdit.date}}" />
  <label for="price">Price$</label>
  <input class="animate__animated animate__lightSpeedInRight" type="text" value="{{expenseEdit.price}}" name="price" />
  <label for="tag">Tag</label>
  <select class="animate__animated animate__lightSpeedInLeft" name="tag">
    {{#if expenseEdit.tag}}
      
      <option
        selected
        value="{{expenseEdit.tag._id}}"
      >{{expenseEdit.tag.name}}</option>
    {{else}}
      <option selected disabled value="null">Please select a tag</option>
    {{/if}}
    {{#each tags}}
      <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select>
  <label for="category">Category</label>
  <input class="animate__animated animate__lightSpeedInLeft" type="text" value="{{expenseEdit.category}}" name="category" />
  <input class="button" type="submit" value="submit" />
</form>
</div>