<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link
      href="https://use.fontawesome.com/releases/v5.0.1/css/all.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    {{#each stylesheet}}
      <link rel="stylesheet" href="/stylesheets/{{this}}.css" />
    {{/each}}

  </head>

  <body>
    <section>
      <nav>
        <div class="navigation">
          <ul>
            {{#if currentUser}}

              <li><a href="/logout">Logout</a></li>
              <li><a href="/main/expense/create">Add expense</a></li>
              <li><a href="/main">Expenses</a></li>
              <li><a href="/profile">Profile</a></li>
              <li>
                <a href="/main/filter">
                  Hi
                  {{currentUser.username}}! Click here to check by Tag ?
                </a>
              </li>
            {{else}}
              <li><a href="/signup">SignUp</a></li>
              <li><a href="/login">Login</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </section>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>